/build_pulse/lib
/build_pulse/bin
/build_pulse/include
/build_pulse/local
/build_pulse/pip-selfcheck.json
*.pyc
*.egg-info
*.db
build_pulse/pip-selfcheck.json
.eggs
.pytest_cache/
/tests/__pycache__/*
